{{#if edit}}
<h1>Edit Group</h1>
<form name="createForm"  action="/editGroup" onsubmit="return validateForm()" method="POST">
{{else}}
<h1>Create New Group</h1>
<form name="createForm"  action="/newGroup" onsubmit="return validateForm()" method="POST">
{{/if}}
	<input type="hidden" id="id" name="id" value= "{{id}}">
	<p><label for="name">Name: </label>
	<input type="text" id="name" name="name" value= "{{name}}"></p>
	<p><label for="desc">Description: </label>
	<input type="text" id="desc" name="desc" value= "{{desc}}"></p>
	{{#if edit}}
	<p><input type="submit" value="Edit"></p>
	{{else}}
	<p><input type="submit" value="Create"></p>
	{{/if}}
</form>
