<h1>Group list - <a href="/group" class="buttonNewGroup">Create New Group</a></h1>

{{#if list_of_groups}}
<table id="GroupList">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  {{#each list_of_groups}}
  <tr>
    <td width="20%">{{source.name}}</td>
    <td>{{source.description}}</td>
    <td width="7%">
      <div class="home">
          <button class="dropbtn">Options</button>
          <div class="dropbtn-content">
            <a href="/specGroup?id={{id}}">Select</a>
            <a href="/group?edit=true&&id={{id}}">Edit</a>
            <a href="/deletGroup/{{id}}">Delete</a>
          </div>
      </div>
    </td>
  </tr>
  {{/each}}

</table>
{{else}}
<h3>No Groups Created </h3>
{{/if}}