<h1>{{name}}</h1>
<p>{{description}}</p>

{{#if err}}
	<h2>Game - No Game Found</h2>
	{{#if cause}}
		<h2>Cause: {{cause}}</h2>
	{{/if}}
{{else}}
	{{#if games}}
		<h2>Game</h2>

		<table id="specificGroup">
		<tr>
			<th>Name</th>
			<th>Total Rating</th>
			<th >
				<form action="/action_page.php">
					<label for="quantity">Min:</label>
					<input type="number" id="quantity" name="quantity" min="0" max="100">
					<label for="quantity">Max:</label>
					<input type="number" id="quantity" name="quantity" min="0" max="100">
					<input type="submit" value="Total Rating">
				</form>
			</th>
		</tr>

		{{#each games}}
			<tr>
				<td>{{name}}</td>
				<td>{{total_rating}}</td>
				<td>
					<a href="/group/{{../id}}/game/{{name}}" method="post">Remove Game</a>
				</td>
			</tr>
		{{/each}}

		</table>
	{{/if}}
{{/if}}