<div class="group-menu">
	<button class="dropbtn" padding-left="1%">Options</button>
	<div class="dropbtn-content">
	<a href="/group?edit=true&&id={{id}}{{groupInfo.id}}">Edit</a>
	<a href="/deletGroup/{{id}}">Delete</a>
	</div>
</div>

<h1>{{name}}{{groupInfo.name}}</h1> 
<p>{{description}}{{groupInfo.description}}</p>


{{#if err}}
	<h2>Game - No Game Found</h2>
	{{#if cause}}
		<h2>Cause: {{cause}}</h2>
	{{/if}}
{{else}}
	{{#emptyArray games byRating}}
		{{#if isEmptyArray}}
			<h2>Games</h2>
			<form action="/group/{{../id}}/getByRating" onsubmit="return validateForm()">
				<label for="quantity">Min:</label>
				<input type="number" id="quantityMin" name="quantityMin" step="0.01" min="0" max="100" value="0">
				<label for="quantity">Max:</label>
				<input type="number" id="quantityMax" name="quantityMax" step="0.01" min="0" max="100"Value="100">
				<input type="submit" value="Total Rating">
			</form>
		{{/if}}
	{{/emptyArray}}
	{{#if games}}
		<table id="specificGroup">
		<tr>
			<th>Name</th>
			<th>Total Rating</th>
			<th>
				
			</th>
		</tr>

		{{#each games}}
			<tr>
				<td>{{name}}</td>
				<td>{{total_rating}}</td>
				<td>
					<a href="/group/{{../id}}/game/{{name}}" method="post">Remove Game</a>
				</td>
			</tr>
		{{/each}}

		</table>
		{{else}}
		<h3>No Games</h3>
	{{/if}}
{{/if}}